* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    background-color: #0162be;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    height: 100vh;
    color: #fff;
    overflow: hidden;

}

.container {
    margin: 0 7rem;
    height: 100%;

}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {

    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav ul li a:visited {
    color: blue;
}


nav img {
    width: 50px;
    height: 50px;
    animation: opacity-img 2s infinite alternate;
}

/* ====================================================== */


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

.content img {
    width: 220px;
    animation: imge 1s ease-out;

}

bold {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
    width: 75%;
}

span {
    font-size: 70px;
}

.text a {


    background-color: #fff;
    color: black;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
}

.text a:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.2s;

}

aside {
    margin-left: 3rem;
}

.content aside i {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;

}
.footer{
        height: 15%;
    }

.footer img {
    display: block;
    margin: auto;
    width: 100px;
    animation: imge2 1s ease-out;


}

@keyframes imge {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes imge2 {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes opacity-img {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

p::selection {
    background-color: #fff;
    color: #0162be;
}
@media (max-width:767px){
    .container {
        margin: 0 3rem;
    }
    nav{
        flex-direction: column;
        padding-top: 10px;
    }
    nav img{
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
        animation: none;
    }
    nav ul{
        margin-top: 10px;
    }
    nav ul li a{
        padding: 5px;
        font-size: 15px;
    }
    /* ========================================== */
    .content img{
        display: none;
    }
    
    bold{
        font-size: 18px;
        font-weight: 300;
    }
    p{
        font-weight: 100;
        margin-bottom: 10px;
        width: 100%;  
        padding: 5px;
    }
    span{
        font-size: 30px;
    }
    .text a{
       padding: 5px 10px;
    }
    
    .footer img{
        height: 100%;
        width: 100%;
    }
}
@media (max-height:700px){
    p{
        line-height: 1.1;
        font-size: 13px;
    }
}